

.small {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.big {
    text-decoration: none;
    border-radius: 10%;
    padding: 4px;
    color: #000000;
    background-color: white;
}



.fading-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.fading-gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    opacity:0.3;
    transition: 0.7s ease-out ;
}
.fading-gallery img:hover
{
opacity:1;
width: 70%;
height: 70%;
transition:2s ease-in;

}

