p {
  color: rgb(17, 17, 17)
}

#would-you {
  color: #000000;
}

.big {
  font-family: sans-serif, Arial, Helvetica;

}











body {
  font-family: sans-serif, Helvetica, Arial;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom: 5px black solid;

}

h2 {
  font-size: 1.5em;
  font-style: italic;
}

.job-title {
  color: #141414;
  font-weight: bold;
}

a:link,
a:visited {
  color: #0051ff;
}

a:hover {
  text-decoration: none;
}


#email {
  background-color: #eeeeee;
  border: solid purple 5px;

  padding: 10px;

}