p {
  color: rgb(17, 17, 17)
}

#would-you {
  color: #000000;
}

.big {
  font-family: sans-serif, Arial, Helvetica;

}











body {
  font-family: sans-serif, Helvetica, Arial;
  padding-bottom: 30px;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom: 5px black solid;

}

h2 {
  font-size: 1.5em;
  font-style: italic;
}


.home{
  color: rgb(0, 0, 0);
  margin:10px;
}

.home:hover {
  color: rgb(206, 0, 0);
  background-color: rgb(0, 0, 0);

}


.gallery{
  color: rgb(0, 0, 0);
  margin:10px;
}

.gallery:hover {
  color: rgb(72, 0, 206);
  background-color: rgb(0, 0, 0);

}

.exercise{
  color: rgb(0, 0, 0);
  margin:10px;
}

.exercise:hover {
  color: rgb(0, 175, 108);
  background-color: rgb(0, 0, 0);

}
.diet{
  color: rgb(0, 0, 0);
  margin:10px;
}

.diet:hover {
  color: rgb(150, 0, 155);
  background-color: rgb(0, 0, 0);

}



#email {
  background-color: #eeeeee;
  border: solid purple 5px;

  padding: 10px;

}

.spaz {
  animation: flash .01s ease-in-out infinite alternate;
  
  }
  
  
  @keyframes flash
  {
      0%{
          background-color: white;
      }
      20%{
          background-color: #000000;
      }
      30%{
          background-color: white;
      }
      40%{
          background-color: #000000;
      }50%{
          background-color: white;
      }
      60%{
          background-color: #000000;
      }70%{
          background-color: white;
      }
      80%{
          background-color: #000000;
      }90%{
          background-color: rgb(255, 0, 191);
      }
      
  }

  ol > li:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }